/* Google font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

/* use google font  */
body {
    font-family: 'Poppins', sans-serif;
}

.hablu-t-color-heading {
    color: #4A4A4A;
}

.hablu-t-color-para {
    color: #777777;
}

.hablu-btn-bg {
    background-color: #289BDE;
}

.hablu-price-color {
    color: #289BDE;
}